@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background);
  color: #FFFFFFEB;
}

@layer base {
  :root {
    --radius: 0.5rem;
    --background : #0A0A0A;
  }
}
